@import url("floorplan.css");

// Some custom css stuff

.device-tracker-home {
  fill-opacity: 1 !important;
  stroke: #00FF00 !important;
  stroke-width: 2px !important;
}

.device-tracker-not-home {
  fill-opacity: 1 !important;
  stroke: #FF0000 !important;
  stroke-width: 2px !important;
}

.on-custom {
  fill: #00ff00 !important;
}

.button-text-black {
  stroke: #000000 !important;
  stroke-width: 0px !important;
}

/* Light */

.light-on-custom {
  fill: #396300 !important;
}

.light-off-custom {
  fill: #002700 !important;
}

.switch-on-custom {
  stroke-width: 2px !important;
  fill: #396300 !important;
}

.switch-off-custom {
  stroke-width: 2px !important;
  fill: #000000 !important;
}

.layer-visible {
  display: initial !important;
}

.layer-hidden {
  display: none !important;
}
